* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  header {
    /*padding: 60px;*/
    text-align: center;
    background: #7e1305;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
/*-----------------------------------------------*/
  /*.container + image CSS*/
  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: serif;
    font-size: 50px;
    color: ivory;
  }
/*-----------------------------------------------*/

  /* Style the top navigation bar */
  nav {
    display: flex;
    background-color: black;
  }
  
  /* Style the navigation bar links */
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  nav a:hover {
    background-color: /*#ddd*/ #333;
    color: white;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .about {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  main {
    flex: 70%;
    
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #7e1305;
    width: 100%;
    padding: 20px;
    color:white;
  }

  /* Fake image, hover. Note: I have to make so that the image also has something overlaying it*/
  .fakeimg:hover {
    background-color: /*#ddd*/ #333;
  }

  /* Footer */
  footer {
    padding: 20px;
    text-align: center;
    background:black;
    color:white;
    font-family: 'Times New Roman', Times, serif;

  }

  /* Style the top navigation bar for Footer/Contact info*/
 .navbar {
  display: flex;
  background-color: black;
}

  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  /* Change color on hover */
  .navbar a:hover {
    background-color:#7e1305;;
    color: white;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, nav {   
      flex-direction: column;
    }
  }